<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="life.semantics.kimsanha.dao.dao">
    <resultMap id="locationResult" type="vo">
        <result property="locationName" column="locationName"/>
        <result property="location" column="location"/>
        <result property="phoneNum" column="phoneNum"/>
        <result property="coordinate" column="coordinate"/>
        <result property="num" column="num"/>

    </resultMap>
    <select id="save" resultType="vo">
		<![CDATA[
        INSERT INTO location_db(locationName,location,phoneNum,coordinate)
        VALUES ( #{locationName},#{location} ,#{phoneNum} ,#{coordinate})]]>
	</select>

    <select id="search" resultMap="locationResult">
    <![CDATA[
        SELECT * FROM location_db
        ORDER BY num DESC
            limit 0, 10;
        ]]>
  </select>

    <select id="delete">
    <![CDATA[
        DELETE FROM location_db where locationName=#{locationName};
        ]]>
  </select>

    <select id="numCheck" resultType="int">
    <![CDATA[
        select num from location_db where locationName=#{locationName};
        ]]>
  </select>

    <select id="searchCheck" resultType="int">
    <![CDATA[
        SELECT count(*) FROM location_db WHERE  locationName=#{locationName};
        ]]>
  </select>

    <select id="allSearch" resultMap="locationResult">
    <![CDATA[
        SELECT * FROM location_db ORDER BY num DESC;
        ]]>
  </select>


</mapper>