<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="life.semantics.kimsanha.dao.MapDAO">
    <resultMap id="locationResult" type="MapVo">
        <result property="locationName" column="locationName"/>
        <result property="location" column="location"/>
        <result property="phoneNum" column="phoneNum"/>
        <result property="coordinate" column="coordinate"/>
        <result property="num" column="num"/>

    </resultMap>
    <insert id="insertLocation">
        INSERT INTO location_db(locationName,location,phoneNum,coordinate)
        VALUES ( #{locationName},#{location} ,#{phoneNum} ,#{coordinate})
	</insert>

    <select id="findTop10LocationList" resultMap="locationResult">
        SELECT * FROM location_db
        ORDER BY num DESC
            limit 0, 10
  </select>

    <delete id="deleteLocation">
        DELETE FROM location_db where locationName=#{locationName}
  </delete>

    <select id="findLocationNum" resultType="int">
        select num from location_db where locationName=#{locationName}
  </select>

    <select id="countLocationList" resultType="int">

        SELECT count(*) FROM location_db WHERE  locationName=#{locationName}

  </select>

    <select id="findLocationList" resultMap="locationResult">
        SELECT * FROM location_db ORDER BY num DESC
  </select>


</mapper>