
<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <title>Main.html</title>
</head>
<body>

<p id="result"></p>
<div class="backDiv">
    <div class="head">
        병원찾기 라이프라이프시맨틱스 2차면접 과제
    </div>
    <div class="leftMap">
        <div id="map" style="width:100%;height:100%;"></div>
    </div>
    <div class="rightMap">
        <div class="table" id="table">

        </div>
    </div>
    <div class="footer">
        <div id="name"></div>
        <div id="location"></div>
        <div style="display:none"  id="phoneNum"></div>
        <div style="display:none"  id="coordinate"></div>
        <input class="btn" id="saveBtn" style="display:none" type="button" value="저장" onclick="save()"/>
        <input class="btn" id="canBtn" style="display:none" type="button" value="취소" onclick="cancel()"/>

    </div>
</div>

<link rel="stylesheet" type="text/css" href = "index.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cd7376c6e132d86a89f03a382431f2ae"></script>
<script src="main.js"></script>
</body>
</html>